* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: whitesmoke;
    font-family: 'Nunito', sans-serif; 
}

.dark-blue-bg {
    background-color: #0a1128;
    width: 95%;
    margin-inline: auto;
    margin-block: 5rem;
}

/*content-container*/
.content-container {
    width: 97%;
    margin-inline: auto;
    margin-block: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 2rem;
}
/*content-container*/

.pic-name {
    background-color: #4361ee;
    line-height: 3.5rem;
    padding: 1rem 4rem 4rem 2rem;
    border-radius: 10px;
}

.mid-5 {
    padding-block: 1rem;
}

.bottom-5, .week {
    color: rgb(109, 107, 105);
}

.name-stat {
    padding: 2rem 4rem 2rem 2rem;
}


img {
    margin-block: 2rem;
    border: 3px solid whitesmoke;
    border-radius: 50%;
}


.behind-svg {
    background-color: #D96C47;
    border-radius: 10px;
}
.behind-svg-1 {
    background-color: #4cc9f0;
    border-radius: 10px;
}
.behind-svg-2 {
    border-radius: 10px;
    background-color: #ff85a1;
}
.behind-svg-3 {
    border-radius: 10px;
    background-color: #a0e48f;
}
.behind-svg-4 {
    border-radius: 10px;
    background-color: #9d3dc5;
}
.behind-svg-5 {
    border-radius: 10px;
    background-color: #fadf47;
}

svg {
    opacity: 0.9;
}

h1 {
    font-size: 3rem;
}

.activity {
    display: flex;
    justify-content: space-between;
}

.below-container {
    border-radius: 10px;
    background-color: #13293d;
    padding: 2.2rem 1.2rem;
    line-height: 2.7rem;

}

.profile-container {
    background-color: #13293d;
    border-radius: 10px;
    grid-row-start: 1;
    grid-row-end: 3;
}

.prof-1 {
    padding-block: 1rem
}

.days {
    padding-top:  1.5rem;
    font-weight: 100;
}

/*media query*/
@media screen and (max-width:1100px) {
    .profile-container {
        margin-bottom: 5rem;
    }
}

@media screen and (max-width:1100px) {
    .behind-svg,
    .behind-svg-1, 
    .behind-svg-2, 
    .behind-svg-3, 
    .behind-svg-4, 
    .behind-svg-5 {
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        margin-bottom: 3.5rem;
    }
}

@media screen and (max-width:1100px) {
    .content-container {
        display: block;
    }
}

@media screen and (max-width:1100px) {
    .name-stat {
        display: flex;
        justify-content: space-around;
    }

    .mid-5 {
        padding: 0;
    }

    .days {
        display: flex;
        justify-content: space-between;
    }

    .prof-1 {
        padding: 0;
    }

    .content-container {
        padding: 10px;
    }
}

@media screen and (max-width:377px) {
    .days {
        display: block;
    }
}
/*media query*/